extends layout

block content
    div(class="container-fluid")

        table(class="table table-striped table-borderless caption-top custom-table")
            caption(class="custom-caption custom-color-text") List of Api
            thead
                tr(id="rowHeader")
                    td= "API"
                    td= "Description"
                    td= "Auth"
                    td= "HTTPS"
                    td= "Cors"
                    td= "Link"
                    td= "Category"
            tbody
                for result in results
                    tr(id="rowBody")
                        td #{result.API}
                        td #{result.Description}
                        td #{result.Auth}
                        td #{result.HTTPS}
                        td #{result.Cors}
                        td #{result.Link}
                        td #{result.Category}